@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --light-bg-color: #FFFEFA;
    --dark-bg-color: #09001D;
    --text-color: #101D42;
    --main-color: #7AE7C7;
    --white-color: white;
    --black-color: black;
    --grey-color: rgb(202, 202, 202);
}
/*
* {
    outline: 1px solid red;
    outline-offset: -1px;
}
*/
body {
    padding-top: 5em;
    background-color: var(--light-bg-color);
    font-family: "Inconsolata", sans-serif;
}

header {
    background-color: var(--dark-bg-color);
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 1em;
    border-color: var(--main-color);
    border-bottom-width: 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
}

.nav-left > ul > li {
    display: inline;
    float: left;
}

.nav-right > ul > li > a > img {
    padding: 8px;
}

.nav-right > ul > li {
    display: inline;
    float: right;
}

.onScreenButton {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    border: 0em;
    width: 7em;
    height: 2.8em;
}

.offScreenButton {
    background-color: var(--dark-bg-color);
    color: var(--main-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: var(--main-color);
    width: 7rem;
    height: 2.8em;
}

.offScreenButton:hover {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
}

.dropbtn {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: var(--main-color);
    min-width: 7em;
    height: 2.75em;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--main-color);
    min-width: relative;
    max-width: relative;
    z-index: 1;
}

.dropdown-content > hr {
    border-color: var(--dark-bg-color);
    color: var(--dark-bg-color);
    background-color: var(--dark-bg-color);
    width: 6em;
}
  
.dropdown-content a {
    color: var(--dark-bg-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--main-color);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
    font-weight: inherit;
}

main {
    color: var(--text-color);
}

.hero {
    position: fixed;
}

.hero > div {
    display: inline;
}

.hero .col-left {
    float: left;
}

.hero .col-right {
    float: right;
    text-align: justify;
    margin-top: 7em;
    margin-left: 5em
}

.hero .col-right h2 {
    font-size: 72px;
}

.hero .col-right p {
    width: 20em;
    font-size: 24px;
}

.hero .col-left img {
    width: 500px;
    height: 500px;
    margin-top: 10em;
    margin-left: 20em;
}

.aboutme {
    margin-left: 15em;
    margin-right: 10em;
}

.aboutme hr {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: var(--main-color);
    height: 3px;
    width: 103em;
    border-radius: 3px;
    border: none;
    margin-top: 4em;
    margin-left: -8em;
}

.aboutme h1 {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 82px;
}

.aboutme p {
    font-size: 24px;
    width: 55em;
    margin-left: 1em;
    text-align: justify;
    display: grid;
}

.aboutme #generalInformation div {
    display: inline
}

.aboutme .col-left {
    float: left;
}

.aboutme .col-left img {
    width: 350px;
    height: 350px;
    margin-left: 5em;
}

.aboutme .col-right {
    float: right;
}

.aboutme .col-right p {
    width: 30em;
    margin-right: 10em;
}

.aboutme .pastExperiences div {
    display: inline;
}

.aboutme .pastExperiences .col-right {
    float: right;
}

.aboutme .pastExperiences .col-right img {
    width: 450px;
    height: 450px;
    margin-right: 15em;
}

.aboutme .pastExperiences .col-left {
    float: left;
}

.aboutme .pastExperiences .col-left p {
    width: 25em;
}

.aboutme .pastExperiences button {
    width: 15em;
    margin-left: 5em;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 5em;
}

.aboutme .pastExperiences button:hover {
    background-color: var(--white-color);
    color: var(--text-color);
    transition-duration: 0.2s;
}

.projects {
    display: inline;
}

.projects h1 {
    margin-top: 2em;
    margin-left: 4.5em;
    font-size: 56px;
}

.projects .col-right {
    float: right;
    display: inline;
    position: absolute;
}

.projects .col-left {
    margin-top: 2em;
    margin-left: 10em;
    width: 20em;
    font-size: 24px;
    text-align: justify;
    float: left;
}

.projects h4 {
    font-size: 24px;
    text-align: center;
}

.projects img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.scroll-menu {
    margin-right: 5em;
    margin-left: 52.5em;
    margin-top: -3em;
    overflow-y: scroll;
    direction: rtl;
    height: 40em;
    width: 45em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
}

.scroll-menu div {
    cursor: pointer;
}

body ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--grey-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

.project_page h1 {
    margin-top: 2em;
    margin-left: 5em;
    font-size: 56px;
}

.project_page p {
    font-size: 20px;
}

.first-content div {
    display: inline;
}

.first-content .col-left {
    float: left;
    margin-left: 17.5em;
}

.first-content .col-left p {
    width: 30em;
    text-align: justify;
}

.first-content .col-right {
    float: right;
    margin-right: 35em;
}

.first-content .col-right img {
    width: 400px;
    height: 400px;
}

.project_page hr {
    margin-top: 30em;
    height: 3px;
    border-radius: 2px;
    border: none;
    background-color: var(--main-color);
    margin-left: 10em;
    width: 94em;
}

.project_page .second-content p {
    margin-left: 14em;
    margin-top: 2em;
    text-align: justify;
    width: 60em;
    margin-bottom: 2em;
}

project-nav {
    display: inline;
}

project-nav .backward {
    margin-left: 15em;
    float: left;
    height: 3em;
    width: 15em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

project-nav .backward:hover {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}

project-nav .github {
    margin-right: 20em;
    float: right;
    height: 3em;
    width: 15em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3em;
}

project-nav .github:hover {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}
