@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

/* colors */
:root {
    --light-bg-color: #FFFEFA;
    --dark-bg-color: #09001D;
    --text-color: #101D42;
    --main-color: #7AE7C7;
    --white-color: white;
    --black-color: black;
    --grey-color: rgb(202, 202, 202);
}

/* font-sizes */
:root {
    --small-text: 12px;
    --medium-text: 18px;
    --large-text: 24px;
}

body {
    padding-top: 4%;
    background-color: var(--light-bg-color);
    font-family: "Inconsolata", sans-serif;
}

header {
    background-color: var(--dark-bg-color);
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 1%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
}

.nav-left > ul > li {
    display: inline;
    float: left;
}

.nav-right {
    margin-right: 1%;
}

.nav-right > ul > li > a > img {
    padding: 8px;
}

.nav-right > ul > li {
    display: inline;
    float: right;
}

.onScreenButton {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--medium-text);
    border: 0px;
    width: 7em;
    height: 2.8em;
}

.offScreenButton {
    background-color: var(--dark-bg-color);
    color: var(--main-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--medium-text);
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: var(--main-color);
    width: 7rem;
    height: 2.8em;
}

.offScreenButton:hover {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
}

.dropbtn {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--medium-text);
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: var(--main-color);
    min-width: 7em;
    height: 2.75em;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--main-color);
    min-width: relative;
    max-width: relative;
    z-index: 1;
}

.dropdown-content > hr {
    border-color: var(--dark-bg-color);
    color: var(--dark-bg-color);
    background-color: var(--dark-bg-color);
    width: 6em;
}
  
.dropdown-content a {
    color: var(--dark-bg-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--main-color);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: var(--main-color);
    color: var(--dark-bg-color);
    font-weight: inherit;
}

main {
    color: var(--text-color);
}

.hero > div {
    display: inline;
}

.hero .col-left {
    float: left;
    width: 40%;
}

.hero .col-right {
    float: right;
    text-align: justify;
    margin-top: 5%;
    width: 55%;
}

.hero .col-right h2 {
    font-size: 72px;
}

.hero .col-right p {
    width: 50%;
    font-size: 24px;
}

.hero .col-left img {
    width: 55%;
    height: 55%;
    margin-top: 20%;
    margin-left: 40%;
    border-radius: 8px;
}

.aboutme {
    margin-left: 12.5%;
    margin-right: 10%;
}

.aboutme hr {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: var(--main-color);
    height: 3px;
    width: 110%;
    border-radius: 3px;
    border: none;
    margin-top: 5%;
    margin-left: -8%;
}

.aboutme h1 {
    margin-top: 6%;
    margin-left: 6%;
    font-size: 82px;
}

.aboutme p {
    font-size: var(--large-text);
    width: 90%;
    margin-left: 2%;
    text-align: justify;
    display: grid;
}

.aboutme #generalInformation div {
    display: inline
}

.aboutme .col-left {
    float: left;
    width: 30%;
}

.aboutme .col-left img {
    width: 80%;
    margin-left: 20%;
    border-radius: 8px;
}

.aboutme .col-right {
    float: right;
    width: 40%;
    margin-right: 25%;
}

.aboutme .col-right p {
    width: 120%;
}

.aboutme .skill ul {
    font-size: var(--large-text);
    list-style-type: none;
}

.aboutme .pastExperiences div {
    display: inline;
}

.aboutme .pastExperiences .col-right {
    float: right;
}

.aboutme .pastExperiences .col-right img {
    width: 80%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 10px 7px var(--grey-color);
}

.aboutme .pastExperiences .col-left {
    float: left;
}

.aboutme .pastExperiences .col-left p {
    width: 135%;
}

.aboutme .pastExperiences button {
    width: 80%;
    margin-left: 30%;
    font-size: var(--large-text);
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 30%;
}

.aboutme .pastExperiences button:hover {
    background-color: var(--white-color);
    color: var(--text-color);
    transition-duration: 0.2s;
}

.projects {
    display: inline;
}

.projects h1 {
    margin-top: 8%;
    margin-left: 15%;
    font-size: 56px;
}

.projects .col-right {
    float: right;
    display: inline;
    position: absolute;
}

.projects .col-left {
    margin-top: 3%;
    margin-left: 15%;
    width: 28%;
    font-size: var(--large-text);
    text-align: justify;
    float: left;
}

.projects h4 {
    font-size: var(--large-text);
    text-align: center;
}

.projects img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.scroll-menu {
    margin-right: 5%;
    margin-left: 45%;
    margin-top: -3em;
    overflow-y: scroll;
    direction: rtl;
    height: 69vh;
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
}

.scroll-menu div {
    cursor: pointer;
}

body ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--grey-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

.project_page h1 {
    margin-top: 7%;
    margin-left: 15%;
    font-size: 56px;
}

.project_page p {
    font-size: var(--large-text);
}

.first-content div {
    display: inline;
}

.first-content .col-left {
    float: left;
    margin-left: 12.5%;
}

.first-content .col-left p {
    width: 60vh;
    text-align: justify;
}

.first-content .col-right {
    float: right;
    margin-right: 30%;
}

.first-content .col-right img {
    width: 45vh;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 10px 8px var(--grey-color);
}

.project_page hr {
    margin-top: 25%;
    height: 3px;
    border-radius: 2px;
    border: none;
    background-color: var(--main-color);
    margin-left: 8%;
    width: 82%;
}

.project_page .second-content p {
    margin-left: 10%;
    margin-top: 2%;
    text-align: justify;
    width: 75%;
    margin-bottom: 3%;
}

project-nav {
    display: inline;
}

project-nav .backward {
    margin-left: 15%;
    float: left;
    height: 5vh;
    width: 15%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: var(--medium-text);
    font-weight: bold;
}

project-nav .backward:hover {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}

project-nav .github {
    margin-right: 20%;
    float: right;
    height: 5vh;
    width: 15%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: var(--medium-text);
    font-weight: bold;
    margin-bottom: 5%;
}

project-nav .github:hover {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}

.contact {
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: var(--large-text);
}

.send_button {
    height: 5vh;
    width: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: var(--medium-text);
    font-weight: bold;
}

.send_button:hover {
    background-color: var(--white-color);
    transition-duration: 0.4s;
}
